.fade-in-enter-active,
.fade-in-leave-active {
  transition: opacity 0.5s ease;
}

.fade-in-enter-from,
.fade-in-leave-to {
  opacity: 0;
}

.scale-in-down-enter-active,
.scale-in-down-leave-active {
  transition: all 0.5s ease;
}

.scale-in-down-enter-from,
.scale-in-down-leave-to {
  opacity: 0;
  transform:scale(0.8);
}