// -----------------------------------------------------------------------------
// This file contains variables
// -----------------------------------------------------------------------------

// Fonts
$base-font: 'Mulish', sans-serif;
$base-font-size: 16px;
$regular-font-weight: 400;
$semibold-font-weight: 600;
$bold-weight: 700;
$extrabold-weight: 800;
$black-weight: 900;

// Colors
$body-bg: #fff;
$primary-color: #EE325C;
$base-text-color: #080809;
$white: #fff;
$red: #D81F27;
$black: #000;

// Layout
$min-width: 320px;
$max-width: 1320px;
$grid-columns: 60;
$container-padding-x: 60px;

$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
);

$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 950px,
);






