// -----------------------------------------------------------------------------
// This file contains basic styles
// -----------------------------------------------------------------------------


body {
  font-family: $base-font !important;
  font-weight: $regular-font-weight !important;
  font-size: $base-font-size;
  -webkit-font-smoothing: antialiased;
  &.modal-open {
    overflow: hidden;
  }
}

.container {
  position: relative;
}

button {
  border: none;
  background: none;
  outline: none;
}

a,button {
  transition: all .2s ease-in-out;
}

section {
  padding: 50px 0;
}