// -----------------------------------------------------------------------------
// This file contains basic typography
// -----------------------------------------------------------------------------
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;700;800;900&display=swap');

h1,h2,h3,h4,h5,h6 {
  margin-bottom: 0;
  font-weight: $regular-font-weight;
  color: $base-text-color;
}

p {
  margin-bottom: 0;
}

a {
  text-decoration: none;
}

section {
  h2 {
    @include fluid-font($min-width,$max-width, 32px, 48px);
    font-weight: $bold-weight;
    line-height: 1.4;
    span {
     position: relative;
      &:after {
        content: '';
        position: absolute;
        bottom: -7px;
        left: 2px;
        height: 14px;
        background: rgba(238,50,92,0.2);
        right: -3px;
      }
    }
  }

  h3 {
    line-height: 1.6;
    font-weight: $regular-font-weight;
    strong {
      font-weight: $extrabold-weight;
    }
  }
}
