<template>
  <transition name="fade-in">
    <div v-show="isOpen" class="v-modal">
      <transition name="scale-in-down">
        <div v-show="isOpen" class="v-modal-inner" @click="$emit('close')">
          <div class="v-modal-content" @click.stop>
            <button type="button" class="close" @click="$emit('close')"><img src="@/assets/images/close-icon.svg" alt="Close modal"></button>
            <h3 class="text-center mb-4">Jednoducho nám napíšte a my sa vám ozveme.</h3>

            <form @submit.prevent="submit">
              <div class="form-group">
                <label>Meno: <span>*</span></label>
                <input v-model="form.name" type="text" @input="delayTouch(v$.form.name)">
                <span class="error" v-if="v$.form.name.$error">{{ v$.form.name.$errors[0].$message }}</span>
              </div>

              <div class="row">
                <div class="col-lg-30">
                  <div class="form-group">
                    <label>E-mail: <span>*</span></label>
                    <input v-model="form.email" type="email" @input="delayTouch(v$.form.email)">
                    <span class="error" v-if="v$.form.email.$error">{{ v$.form.email.$errors[0].$message }}</span>
                  </div>
                </div>

                <div class="col-lg-30">
                  <div class="form-group">
                    <label>Tel.číslo:</label>
                    <input v-model="form.phone" type="tel">
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label>Webstránka:</label>
                <input v-model="form.web" type="url">
              </div>

              <div class="form-group">
                <label>Poznámka:</label>
                <textarea v-model="form.message"></textarea>
              </div>

              <base-button class="big-btn" type="submit">
                Kontaktujte ma
              </base-button>
            </form>
          </div>
        </div>
      </transition>
    </div>
  </transition>

</template>

<script>
import { useVuelidate } from '@vuelidate/core';
import { required,email,helpers } from '@vuelidate/validators';

const touchMap = new WeakMap();

export default {
  name: "ModalContact",
  props: {
    isOpen: {
      type: Boolean,
    },
  },

  setup () {
    return {
      v$: useVuelidate()
    }
  },

  data() {
    return {
     form: {
       name: '',
       email: '',
       phone: '',
       web: '',
       message: ''
     }
    }
  },

  watch: {
    isOpen(val) {
      if (!val) {
        document.body.classList.remove('modal-open');
        this.resetForm();
      } else {
        document.body.classList.add('modal-open');
      }
    }
  },

  validations () {
    return {
      form: {
        name: {
          required: helpers.withMessage('Meno je povinné', required)
        },
        email: {
          required: helpers.withMessage('E-mail je povinný',required),
          email: helpers.withMessage('Nesprávny formát',email)
        }
      }
    }
  },

  methods: {
    // Submit form
    submit() {
      this.v$.form.$validate();
      if (!this.v$.form.$error) {
        // Send form
        this.$swal({
          title: 'Ďakujeme!',
          text: 'Formulár bol úspešne odoslaný',
          timerProgressBar: true,
          timer: 2500,
          icon: 'success',
          background: '#308102',
          color: '#fff',
          showConfirmButton: false
        });
        this.resetForm();
        this.$emit('close');

      } else {
        this.$swal({
          title: 'Chyba!',
          text: 'Vyplňte všetky povinné údaje.',
          timerProgressBar: true,
          timer: 2500,
          icon: 'error',
          toast: true,
          position: 'top-end',
          background: '#ce0000',
          color: '#fff',
          showConfirmButton: false
        });
      }
    },

    resetForm() {
      this.form.name = '';
      this.form.email = '';
      this.form.phone = '';
      this.form.web = '';
      this.form.message = '';
      this.v$.$reset();
    },
    /**
     *** Show error messages with delay on input
     *** @param $v
     ***/
    delayTouch(v$) {
      v$.$reset();
      if (touchMap.has(v$)) {
        clearTimeout(touchMap.get(v$));
      }
      touchMap.set(v$, setTimeout(v$.$touch, 1000));
    },


  },

  mounted() {

    // Close modal on Escape
    document.addEventListener('keydown', (e) => {
      if (e.key === 'Escape') {
        this.$emit('close');
      }
    });
  }
}
</script>

<style lang="scss" scoped>
@import '@/assets/sass/abstracts/_variables.scss';
@import '@/assets/sass/abstracts/_functions.scss';

.v-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba($white,.8);
  z-index: 1035;
  overflow-y: auto;
}
  .v-modal-inner {
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .v-modal-content {
      max-width: 547px;
      background-color: $white;
      padding: 80px 30px 50px 30px;
      box-shadow: 0 32px 45px 0 rgba($black,.15);
      position: relative;
    }
    .form-group {
      margin-bottom: 30px;
      label {
        font-weight: $black-weight;
        margin-bottom: 10px;
        span {
          color: $red;
        }
      }

      input {
        width: 100%;
        height: 55px;
        background-color: #EFEFEF;
        border: none;
        border-radius: 4px;
        outline: none;
        padding: 0 20px;
      }

      textarea {
        width: 100%;
        height: 127px;
        background-color: #EFEFEF;
        border: none;
        border-radius: 4px;
        outline: none;
        padding: 20px;
        resize: none;
      }

      .error {
        color: $red;
        font-weight: $black-weight;
        font-size: rem(15px);
      }
    }

    button {
      font-size: rem(20px);
    }
    .close {
      position: absolute;
      top: 25px;
      right: 20px;
      &:hover {
        opacity: .6;
      }
    }
    h3 {
      font-weight: $black-weight;
      max-width: 380px;
      font-size: rem(30px);
      margin: 0 auto;
      line-height: 1.6;
    }
}
</style>