<template>
   <!-- HERO SECTION -->
  <section class="hero d-flex align-items-center">
      <div class="container text-center">
        <h1>Zvýšte svoje zisky optimalizáciou vášho eshopu.</h1>
        <base-button class="small d-sm-none mt-5" @click="emitter.emit('open-contact')">
          Mám záujem o UX audit
        </base-button>
      </div>
  </section>


  <!-- TOP CONTENT -->
  <section class="top-content">
    <div class="container">

      <div class="row gx-md-5">
        <div class="col-lg-30 order-last order-lg-first mt-3 mt-md-0">
          <h2>Rýchle <span>výsledky</span> pomocou UX auditu.</h2>
        </div>

        <div class="col-lg-30 pt-4 order-first order-lg-last">
          <ul class="d-flex list-unstyled gap-5 partners">
            <li><img src="@/assets/images/google-partner-logo.png" alt="Google partner"></li>
            <li><img src="@/assets/images/adma-logo.jpg" alt="Adma partner"></li>
          </ul>
        </div>
      </div>


      <div class="row gx-md-5">
        <div class="col-lg-30">
          <h3 class="mt-3 mt-md-5">UX auditom vášho riešenia lepšie pochopíte, ako vaši zákazníci používajú váš produkt, <strong>zvýšite ich spokojnosť
            a hlavne vaše zisky.</strong></h3>
        </div>

        <div class="col-lg-30">
          <div class="animated-list">
            <base-list>
              <li>Odhalíme nedostatky na vašej stránke</li>
              <li>Zvýšime konverzný pomer vašich stránok</li>
              <li>Zvýšime výkon marketingových kampaní</li>
              <li>Znížime vaše náklady na vývoj</li>
              <li>Zvýšime návštevnosť vašich stránok</li>
            </base-list>
          </div>
        </div>
      </div>

      <div class="row gx-md-5 mt-5 pt-lg-3 tc-bottom">
        <div class="col-lg-30 mb-5">
          <h3>Dosiahnite lepšie výsledky vašej webstránky alebo e-shopu <strong>pomocou UX auditu.</strong></h3>
        </div>

        <div class="col-lg-30">
          <div class="animated-btn">
            <base-button class="big-btn" @click="emitter.emit('open-contact')">
              Mám záujem o UX audit
            </base-button>
          </div>
        </div>
      </div>
    </div>
  </section>


  <!-- TESTIMONIALS -->
  <section class="testimonials">
    <div class="container">
      <div class="d-grid">
        <div class="testimonials__box">
          <div class="testimonials__item">
            <p>Pravidelné UX audity a postupné vylepšovanie nášho internetového obchodu je už niekoľko rokov súčasťou našej dlhodobej stratégie v predaji. UX tím v Riešeniach odvádza skvelú prácu, ktorú sprevádzajú viditeľné výsledky a spokojnosť našich zákazníkov. Okrem ich prístupu k nášmu biznisu …
              <a href="#">čítať viac</a></p>
          </div>

          <div class="testimonial-bottom d-flex align-items-center">
            <img src="@/assets/images/testimonial-avatar2.jpg" alt="Jozef Korman Konateľ Svetnápojov">
            <div>
              <strong>Jozef Korman</strong>
              <span>Konateľ <a href="https://www.svetnapojov.sk/" target="_blank">SvetNápojov.sk</a></span>
            </div>
          </div>
        </div>

        <div class="testimonials__box">
          <div class="testimonials__item">
            <p>S UX tímom Riešení úzko spolupracujeme už dlhé roky a sú dôležitým partnerom nášho biznisu. Vďaka ich know-how pre nás od samého začatku správne nastavili zdravý pomer prvotriedneho dizajnu a funkčnosti webu, ktorý následne vylepšovali pomocou relevantných analýz a dát. Aj ich zásluhou …
              <a href="#">čítať viac</a></p>
          </div>

          <div class="testimonial-bottom d-flex align-items-center">
            <img src="@/assets/images/testimonial-avatar.jpg" alt="Jozef Korman Konateľ Svetnápojov">
            <div>
              <strong>Richard Wohlstein</strong>
              <span>Retail manager <a href="https://www.alaindelon.sk/" target="_blank">AlainDelon.sk</a></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <!-- STEPS -->
  <section class="steps">
    <div class="container">
      <h2 class="text-center mb-5">Rýchla a jednoduchá cesta k <span>výsledkom.</span></h2>

      <div class="row gx-0">
        <div class="col-lg-30 d-flex align-items-center">
          <img src="@/assets/images/first-step.svg" class="number" alt="First Step Icon">
          <div class="animated-text">
            <h4>Ciele auditu</h4>
            <p>Určíme si <strong>spoločné ciele</strong>, nastavíme očakávania a definujeme <strong>cieľovú skupinu a jej potreby. </strong></p>
          </div>
          <div class="arrow-img">
            <img src="@/assets/images/arrow-down.svg" class="arrow" alt="Arrow down">
          </div>
        </div>
      </div>


      <div class="row gx-0">
        <div class="col-lg-30 d-flex align-items-center ms-auto">
          <img src="@/assets/images/second-step.svg" class="number" alt="Second Step Icon">
          <div class="animated-text">
            <h4>Zbieranie dát</h4>
            <p>Zvolíme vhodné metodiky a nástroje na <strong>sledovanie správania používateľov a zbieranie dát.</strong></p>
          </div>
          <div class="arrow-img">
            <img src="@/assets/images/arrow-down.svg" class="arrow" alt="Arrow down">
          </div>
        </div>

      </div>


      <div class="row gx-0">
        <div class="col-lg-30 d-flex align-items-center">
          <img src="@/assets/images/third-step.svg" class="number" alt="Third Step Icon">
          <div class="animated-text">
            <h4>Vyhodnotenie</h4>
            <p><strong>Vyhodnotíme nazbierané dáta</strong>, zosumarizujeme všetky naše zistenia a <strong>navrhneme riešenia.</strong></p>
          </div>
          <div class="arrow-img">
            <img src="@/assets/images/arrow-down.svg" class="arrow" alt="Arrow down">
          </div>
        </div>
      </div>


      <div class="row gx-0">
        <div class="col-lg-30 d-flex align-items-center ms-auto">
          <img src="@/assets/images/fourth-step.svg" class="number" alt="Fourth Step Icon">
          <div class="animated-text">
            <h4>Výsledky auditu</h4>
            <p><strong>Osobná prezentácia výsledkov a navrhnutých riešení</strong> s podrobnou dokumentáciou.</p>
          </div>
        </div>
      </div>
    </div>
  </section>


  <!-- BOTTOM CONTENT -->
  <section class="bottom-content">
      <div class="container">
        <div class="row gx-0 mb-3">
          <div class="col-lg-35">
            <h2>Zameriame sa na to <span>najdôležitejšie.</span></h2>
          </div>
        </div>

        <div class="row gx-5">
          <div class="col-lg-28 order-last order-lg-first">
            <h3 class="mt-3 mt-md-5">Dosiahnite lepšie výsledky vašej webstránky alebo e-shopu <strong>pomocou UX auditu.</strong></h3>
            <div class="animated-btn">
              <base-button class="big-btn my-5" @click="emitter.emit('open-contact')">
                Mám záujem o UX audit
              </base-button>
            </div>
          </div>

          <div class="col-lg-32 justify-content-end order-first order-lg-last">
            <div class="animated-list">
              <base-list class="mt-5 mt-lg-0">
                <li>Informačnú architektúru a štruktúru kategórií</li>
                <li>Správanie návštevníkov na kľúčových stránkach</li>
                <li>Rýchlosť a dostupnosť stránok, SEO nastavenia</li>
                <li>Váš biznis a vašich zákazníkov</li>
                <li>Ciele, ktoré chcete dosiahnuť</li>
                <li>Webovú analytiku </li>
              </base-list>
            </div>
          </div>
        </div>
      </div>
  </section>
</template>

<script>
import gsap from "gsap";
import {ScrollTrigger} from "gsap/ScrollTrigger";
gsap.registerPlugin(ScrollTrigger);

export default {
  name: "PageHome",
  mounted() {


    let stepsNumber = gsap.utils.toArray('.steps .number');
    let stepsText = gsap.utils.toArray('.steps .animated-text');
    let imgArrow = gsap.utils.toArray('.steps .arrow');

    stepsNumber.forEach((number)=> {
      gsap.fromTo(number, {
        scale: 0
      }, {
       scale: 1,
        scrollTrigger: {
          trigger: number,
          start: 'bottom bottom',
        }
      })
    })

    stepsText.forEach((text)=> {
      gsap.fromTo(text, {
        opacity: 0,
        translateX: '50px',
      }, {
        opacity: 1,
        translateX: 0,
        scrollTrigger: {
          trigger: text,
          start: 'bottom bottom',
        }
      })
    })

    imgArrow.forEach((arrow)=> {
      gsap.fromTo(arrow, {
        opacity: 0,
        rotate: '-90deg'
      }, {
        opacity: 1,
        rotate: 0,
        scrollTrigger: {
          trigger: arrow,
          start: 'bottom bottom',
        }
      })
    })

    gsap.fromTo('.steps h2', {
      opacity: 0,
      translateY: '50px'
    }, {
      opacity: 1,
      translateY: 0,
      stagger: .2,
      scrollTrigger: {
        trigger: '.steps h2',
        start: 'top 95%',
        end: 'bottom 90%',
        scrub: true,
        once: true,
      }
    })


    /**
     * TESTIMONIALS ANIMATIONS
     */
    gsap.fromTo('.testimonials__box', {
      opacity: 0,
      translateY: '50px'
    }, {
      opacity: 1,
      translateY: 0,
      stagger: .2,
      scrollTrigger: {
        trigger: '.testimonials__box',
        start: 'top 95%',
        end: 'bottom 90%',
        scrub: true,
        once: true,
      }
    })


    /**
     * TOP CONTENT ANIMATIONS
     */

    let baseList = gsap.utils.toArray('.animated-list li');

    baseList.forEach((list) => {
      gsap.fromTo(list, {
        translateY: '-30px',
        opacity: 0,
      }, {
        translateY: 0,
        opacity: 1,
        stagger: 0.1,
        scrollTrigger: {
          trigger: list,
          start: 'bottom 95%',
          end: 'bottom 70%',
          scrub: true,
          once: true,
        }
      })
    })

    gsap.fromTo('.top-content h2', {
      translateX: '-50px',
      opacity: 0,
    }, {
      translateX: 0,
      opacity: 1,
      scrollTrigger: {
        trigger: '.top-content h2',
        start: 'top 80%',
        end: 'bottom center',
      }
    })

    gsap.fromTo('.top-content img', {
      translateX: '-50px',
      opacity: 0,
    }, {
      translateX: 0,
      opacity: 1,
      stagger: .2,
      scrollTrigger: {
        trigger: '.top-content img',
        start: 'top 80%',
        end: 'bottom center',
      }
    })


    let sectionH3 = gsap.utils.toArray('section h3');
    sectionH3.forEach((heading) => {
      gsap.fromTo(heading, {
        translateY: '50px',
        opacity: 0,
      }, {
        translateY: 0,
        opacity: 1,
        scrollTrigger: {
          trigger: heading,
          start: 'top 95%',
          end: 'bottom center',
        }
      })
    });

    let sectionBtn = gsap.utils.toArray('section .animated-btn');
    sectionBtn.forEach((btn)=> {
      gsap.fromTo(btn, {
        scale: 0,
      }, {
        scale: 1,
        duration: .7,
        ease: "bounce.out",
        scrollTrigger: {
          trigger: btn,
          start: 'bottom bottom',
        }
      })
    })

    /**
     * BOTTOM CONTENT ANIMATIONS
     */
    gsap.fromTo('.bottom-content h2', {
      translateX: '-50px',
      opacity: 0,
    }, {
      translateX: 0,
      opacity: 1,
      scrollTrigger: {
        trigger: '.bottom-content h2',
        start: 'top 80%',
        end: 'bottom center',
      }
    })


    // Hero
    gsap.fromTo('.hero h1', {
      opacity: 0,
      translateY: '-80px',
    }, {
      opacity: 1,
      translateY: 0,
      duration: .7
    })

    gsap.fromTo('.hero button', {
      opacity: 0,
      translateY: '80px',
    }, {
      opacity: 1,
      translateY: 0,
      duration: .7
    })
  }
}
</script>
