<template>
  <footer>
    <div class="container">
      <h4>Máte otázky? Jednoducho sa spýtajte.</h4>
      <div class="footer-center d-flex justify-content-center align-items-center flex-column flex-lg-row">
        <span>+421 (02) 555 65 726</span>
        <a href="mailto: uxdesign@riesenia.com">uxdesign@riesenia.com</a>
      </div>
      <img src="@/assets/images/footer-logo.svg" alt="Riešenia logo">
    </div>
  </footer>
</template>

<script>
import gsap from "gsap";
import {ScrollTrigger} from "gsap/ScrollTrigger";
gsap.registerPlugin(ScrollTrigger);

export default {
  name: "TheFooter",

  mounted() {
    /**
     * STEPS ANIMATIONS
     */
    gsap.fromTo('footer', {
      opacity: 0,
    }, {
      opacity: 1,
      scrollTrigger: {
        trigger: 'footer',
        start: 'top bottom',
        end: 'bottom bottom',
        scrub: true,
        once: false
      }
    })
    }

}
</script>

<style lang="scss" scoped>
@import 'bootstrap/scss/bootstrap-utilities.scss';
@import '@/assets/sass/abstracts/_variables.scss';
@import '@/assets/sass/abstracts/_mixins.scss';

footer {
  padding: 130px 0;
  background-color: #3D2E80;
  position: relative;
  overflow: hidden;
  text-align: center;
  &:after {
    content: " ";
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(-10deg, rgba(220,25,105,1),rgba(220,25,105,0) 62%);
    z-index: 1;
  }
  .container {
    z-index: 2;
  }

  h4 {
    color: $white;
    font-weight: $black-weight;
    max-width: 655px;
    margin: 0 auto;
    @include fluid-font($min-width,$max-width,24px, 48px);
  }

  .footer-center {
    margin:15% 0;
    font-weight: $bold-weight;
    @include media-breakpoint-up(lg) {
      gap: 30px;
    }
    @include fluid-font($min-width,$max-width,22px,30px);
    span {
      color: $white;
    }
    a {
      color: $primary-color;
    }
  }
  img {
    max-width: 275px;
    width: 100%;
  }
}
</style>