<template>
  <header class="fixed-top">
    <div class="container d-flex align-items-center justify-content-between">
       <div class="logo">
         <router-link to="/"><img src="@/assets/images/logo.svg" width="144" alt="Logo"></router-link>
       </div>

      <div class="animated-btn">
        <base-button class="small d-none d-sm-block" @click="emitter.emit('open-contact')">
            Mám záujem o UX audit
        </base-button>
      </div>
    </div>
  </header>
</template>

<script>
import gsap from "gsap";
export default {
  name: "TheHeader",
  mounted() {
    // Hero heading
    gsap.fromTo('.logo', {
      scale: 0
    }, {
      scale: 1,
      duration: .7,
      ease: "bounce.out"
    })

    // Hero heading
    gsap.fromTo('.animated-btn', {
      scale: 0
    }, {
      scale: 1,
      delay: .3,
      ease: "bounce.out",
      duration: .7
    })

    /* HIDE HEADER ON SCROLL */
    const header = document.querySelector('header');
    let prevScrollPosition = scrollY;

    window.addEventListener('scroll', function() {
      let currentScrollPosition = scrollY;

      if (scrollY > 0) {
        header.classList.add('smaller');
      } else {
        header.classList.remove('smaller');
      }
      if ((currentScrollPosition > 200) && (prevScrollPosition < currentScrollPosition)) {
        header.classList.add('hide');
      } else {
        header.classList.remove('hide');
      }
      prevScrollPosition = currentScrollPosition
    });

  }
}
</script>

<style lang="scss" scoped>
@import 'bootstrap/scss/bootstrap-utilities.scss';

header {
  padding: 57px 0;
  transition: all .2s ease-in;
  &.smaller {
    padding: 20px 0;
    background-color: #3D2E80;
  }
  &.hide {
    transform: translateY(-100%);
  }
  @include media-breakpoint-down(sm) {
    padding: 28px 15px;
  }
}

.animated-btn {
  scale: 0;
}
</style>