

/** HERO SECTION **/
.hero {
  min-height: 554px;
  background-color: #3D2E80;
  position: relative;
  overflow: hidden;
  @include media-breakpoint-down(sm) {
    min-height: auto;
    padding: 150px 0 60px 0;
  }
  .container {
    z-index: 2;
    transform: translateY(13%);
    @include media-breakpoint-down(sm) {
      transform: translateY(0);
    }
  }
  &:after {
    content: " ";
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(-10deg, rgba(220,25,105,1),rgba(220,25,105,0) 62%);
    z-index: 1;
  }

  h1 {
    color: $white;
    font-weight: $black-weight;
    @include fluid-font($min-width, $max-width,30px, 50px);
    max-width: 694px;
    margin: 0 auto;
    line-height: 1.7;
  }
}

/** TOP CONTENT SECTION **/
.top-content {
  h3 {
    @include fluid-font($min-width,$max-width,20px,24px);
  }

  .base-list {
    @include media-breakpoint-up(xl) {
      margin-top: -30px;
    }

    @include media-breakpoint-down(lg) {
      margin-top: 30px;
    }

    @media (min-width: 992px) and (max-width: 1100px) {
      margin-top: 0;
    }
  }

  .tc-bottom {
    h3 {
      font-size: rem(22px);
    }
  }

}

.partners {
  img {
    width: 100%;
    max-width: 185px;
  }
}

/** TESTIMONIALS **/
.testimonials {
  .d-grid {
    gap: 80px;
    grid-template-columns: 1fr 1fr;
    @include media-breakpoint-down(md) {
      grid-template-columns: 1fr;
    }
  }

  .testimonials__box {
    opacity: 0;
    display: grid;
    @include media-breakpoint-up(md) {
      grid-template-rows: 85% 15%;
    }
  }

  .testimonials__item {
    border: 1px solid #D6D8DD;
    padding: 32px;
    position: relative;
    margin-bottom: 35px;
    &:before {
      content: " ";
      position: absolute;
      left: 30px;
      top: -28px;
      width: 43px;
      height: 36px;
      background-image: url('@/assets/images/quotes.svg');
    }
    p {
      line-height: 1.8;
      a {
        color: $primary-color;
        font-weight: $semibold-font-weight;
        &:hover {
          text-decoration: underline;
        }
      }
    }

  }

  .testimonial-bottom {
    img {
      width: 64px;
      flex: 0 0 64px;
      border-radius: 50%;
      margin-right: 21px;
    }

    strong {
      display: block;
      font-weight: $black-weight;
    }

    span a {
      color: $primary-color;
      font-weight: $bold-weight;
    }
  }
}


/** STEPS **/
.steps {
  .row {
    margin-top: 60px;
    &:first-of-type {
      margin-top: 120px;
    }
  }
  .row:nth-child(even) .arrow-img {
    left: calc(100% + 30px);
  }

  .row:nth-child(odd) .arrow-img {
    right: calc(100% + 30px);
    transform: scaleX(-1);
  }

  h2 {
    max-width: 600px;
    margin: 0 auto;
    opacity: 0;
  }

  [class*='col-']{
    position: relative;
  }

  h4 {
    font-size: rem(24px);
    font-weight: $black-weight;
    margin-bottom: 5px;
  }

  img:not(.arrow) {
    margin-right: 35px;
  }

  .arrow-img {
    position: absolute;
    top: 50%;
    display: none;
    @include media-breakpoint-up(lg) {
      display: block;
    }
  }

  img.arrow {
    transform-origin: bottom left;
  }
}


/** BOTTOM CONTENT **/
.bottom-content {
  h3 {
    @include fluid-font($min-width,$max-width,22px,26px);
  }
}