<template>
  <!-- HEADER  -->
  <the-header />

  <main>
    <router-view />
  </main>

  <!-- FOOTER -->
  <the-footer />

  <!-- CONTACT FORM MODAL -->
  <modal-contact :is-open="modalContactIsOpen" @close="close"/>
</template>

<script>
import ModalContact from "@/components/modals/ModalContact";

export default {
  name: 'App',
  components: {
    ModalContact
  },

  data() {
    return {
      modalContactIsOpen: false
    }
  },

  methods: {
    close() {
      this.modalContactIsOpen = false;
    }
  },

  created() {
    this.emitter.on('open-contact', () => {
      this.modalContactIsOpen = true;
    })
  }

}
</script>
