<template>
  <ul class="base-list list-unstyled">
    <slot></slot>
  </ul>
</template>

<script>
export default {
  name: "BaseList"
}
</script>

<style lang="scss" scoped>
@import '@/assets/sass/abstracts/_variables.scss';
@import "@/assets/sass/abstracts/_functions.scss";

:slotted(li) {
  font-size: rem(18px);
  font-weight: $semibold-font-weight;
  position: relative;
  padding-left: 35px;
  margin-bottom: 30px;
  opacity: 0;
  &:before {
    content: " ";
    width: 24px;
    display: block;
    height: 24px;
    background-image: url('@/assets/images/circle-tick.png');
    position: absolute;
    left: 0;
    top: 2px;
  }
}
</style>