<template>
  <button type="button">
    <slot></slot>
  </button>
</template>

<script>
export default {
  name: "BaseButton"
}
</script>

<style lang="scss" scoped>
@import '@/assets/sass/abstracts/_variables.scss';
@import '@/assets/sass/abstracts/_functions.scss';

button {
  background-image: linear-gradient(to right, $primary-color, $primary-color, $primary-color , $primary-color);
  color: $white;
  font-weight: $black-weight;
  border-radius: 8px;
  padding: 0 20px;
  background-size: 300% 100%;
  transition: all .6s ease-in-out;
  &.small {
    font-size: rem(14px);
    height: 42px;
  }

  &:hover,&:focus {
    background-position: 100% 0;
    background-image: linear-gradient(to right, #ed6ea0, #ec8c69, #f7186a , #ed6ea0);
  }
  &.big-btn {
    width: 100%;
    height: 72px;
  }
}
</style>